<div class="add-dashboard-user-Container">

    <form action="" class="formCard">
        <label for="">UserName</label>
        <input type="text" placeholder="Username / Email ID" />
        <label for="">First Name</label>
        <input type="text" placeholder="First name" />
        <label for="">Last Name</label>
        <input type="text" placeholder="Last name" />
        <label for="">Role</label>
        <select name="" id="">
            <option class="option selected" selected>Select Role</option>
            <option  class="option" value="Role1">Role One</option>
            <option class="option" value="Role2">Role two</option>
        </select>

        <div class="formAction">
            <button class="sumbmit">Submit</button>
            <button class="reset">Reset</button>
        </div>
    </form>
</div>