
<div class="main-auth-container">
    <div class="card-container">
        <div class="card-header">
            <h6 class="card-title">PowerCARD V3.5</h6>
            <div class="img-container">
                <img src="../../../assets/Logo_hps_0.png" width="50%" height="50%" alt="">
            </div>
        </div>

        <div [class.hideErr]="isErr" class="errMsg">
            <p>{{ errMesg }}</p>
        </div>

        <div class="card-body">
            <label  class="label">User code</label>
            <input #userCode class="userCodeInput" type="text">
          
            <label class="label">Password</label>
            <input #password class="passwordInput" type="password">
        </div>
    
        <div class="card-footer">
            <h5 class="password_forgot">
                <a href="">Forgot password ?</a>
            </h5>
            <div class="submitBtnBlocl"> 
                <button (click)="logIn(userCode.value,password.value)" class="submit">Submit
                    <i class="fa-solid check fa-check"></i>
                   <!--  <span>
                        <img src="../../../assets/check.png" width="15px" height="15px"alt="">
                    </span> -->
                </button>
            </div>
        </div>
    </div>
   <div class="copyrightFooter">
        <h5 class="copyright">Copyright 2020 Hightch Payement Systems</h5>
        <div class="language">
            <img class="greece" src="../../../assets/greece.png" width="30px" height="30px" alt="">
            <img class="fr" src="../../../assets/fransh.png" width="30px" height="30px" alt="">
            <img class="ang"src="../../../assets/englishL.png" width="30px" height="30px"alt="">
        </div>
   </div>
</div>