<app-sidebar (eventEmitter)="signOut($event)" class="nav"></app-sidebar>
<main>
    <header>
        <!-- Head stil empty for now -->
        <div class="header">
        </div>
    </header>

    <section class="main-space">
        <li style="color: black" *ngFor="let item of myArray">{{item.Username}}</li>
        <router-outlet></router-outlet>
    </section>
    <div [class.hide]='msgLog' class=" animate msgLogIn">
        <p >
            <i class="fa-regular fa-thumbs-up"></i>
            You have been successfully logged in.</p>
    </div>
</main>