<div *ngIf="work ;then workBloc ; else learnBlock"></div>

<ng-template #workBloc>

    <div class="dashboard-user-list">
        <div class="more-option">

            <div class="show-more">
                <label>Show
                    <input placeholder="1" type="number" min=1>
                    entries
                </label>
            </div>

            <div class="searchBar">
                <i class="fa-solid search-icon fa-search"></i>
                <input class="search" placeholder="Search :" type="text">
            </div>


        </div>
        <div class="tableData-container">
            <app-table [data_]="tableData"></app-table>
        </div>
    </div>
</ng-template>



<!--********************************************************-->
<ng-template #learnBlock>

    <div *ngIf="hide ;then thenBlock ;else elseBlock"></div>

    <ng-template #thenBlock>
        <h2>then Block</h2>
        <div [ngSwitch]="number">
            <h2 *ngSwitchCase=1>1</h2>
            <h2 *ngSwitchCase=2>2</h2>
            <h2 *ngSwitchCase=3>3</h2>
            <h2 *ngSwitchDefault>Pick again</h2>
        </div>
        <!-- ngForDirective -->
        <div *ngFor="let color of colorTable ; index as i ; first as f ; even as e">
            <h2>{{f}} {{e}} {{color + " " +i}}</h2>
        </div>
    </ng-template>

    <ng-template #elseBlock>
        <input #myInput [(ngModel)]="fromHtmltoClass" type="text" />

        <button (click)="fire($event)">read</button>
        <h2>{{ fromHtmltoClass }}</h2>
    </ng-template>


</ng-template>